.my-results-card{
    display: flex;
    justify-content: space-between;
    margin: 20px 90px;
    &__percentage{
        position: absolute;
        left: 38px;
        top: 55px;
        font-size: 2.5rem;
    }
    &__title {
        font-size: 2.3rem;
        align-self: center;
    }
    &__total-score {
        align-self: center;
    }
}