<p>dashboard works!</p>
<div class="dashboard-section">
    <div class="dashboard">
        <div class="dashboard__search">
            <mat-form-field appearance="outline">
                <mat-label>Search for quizzes on any topic</mat-label>
                <input matInput >
                <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                
              </mat-form-field>
        </div>
        <div class="dashboard__cards">
          <app-quiz-card *ngFor="let quiz of quizzes" [quiz]="quiz"></app-quiz-card>
          

        </div>
    </div>
  </div>