<div class="start__container">
  <button
    *ngIf="!gameStarted && !gameFinished && (isCreator || isSinglePlayer)"
    (click)="(isCreator)?startByCreator():startGame()"
    mat-flat-button
    color="accent"
  >
    Start
  </button>

  <div *ngIf='!gameStarted && !gameFinished && !isSinglePlayer ' class="players__container">
    <h1>Waiting for other players</h1>
    <mat-card  *ngFor='let player of players'>{{player.userName}}</mat-card>  
  </div>
  
  <div class="joined-users" *ngIf="!gameStarted && gameFinished">
    <h1>Result</h1>
    <mat-card>
      <table mat-table [dataSource]="allResults" class="mat-elevation-z8">
        <ng-container matColumnDef="position">
          <th mat-header-cell *matHeaderCellDef>No.</th>
          <td mat-cell *matCellDef="let element">
            {{allResults.indexOf(element)+1}}
          </td>
        </ng-container>

        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef>Name</th>
          <td mat-cell *matCellDef="let element">{{element.userName }}</td>
        </ng-container>
        <ng-container matColumnDef="Total score">
          <th mat-header-cell *matHeaderCellDef>Total Score</th>
          <td mat-cell *matCellDef="let element">{{element.score }}</td>
        </ng-container>

        <ng-container matColumnDef="Correct answers">
          <th mat-header-cell *matHeaderCellDef>Correct answers</th>
          <td mat-cell *matCellDef="let element">{{element.correct }}</td>
        </ng-container>

        <ng-container matColumnDef="Wrong answers">
          <th mat-header-cell *matHeaderCellDef>Wrong answers</th>
          <td mat-cell *matCellDef="let element">{{element.incorrect }}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </mat-card>
  </div>
</div>

<div *ngIf="gameStarted && !gameFinished" class="answers-container">
  <h3>Time left: 00:{{timeLeft/1000}}</h3>
  <mat-progress-bar
    class="answers-container__progress-bar"
    color="warn"
    mode="determinate"
    [value]="progressValue"
  ></mat-progress-bar>

  <app-question-card [currentQ]="currentQuestion"></app-question-card>

  <div class="action">
    <button
      [disabled]="isAnswered"
      (click)="nextQuestion()"
      mat-flat-button
      color="accent"
    >
      Submit
    </button>
  </div>
</div>
