



.answers-container{
    max-width: 50%;
    margin: 0 auto;
    &__progress-bar{
        margin: 20px 0;
        width: 100%;
    }
}
.action{
    display: flex;
    justify-content: space-evenly;
    margin: 10px;
}


[type="checkbox"]:checked,
[type="checkbox"]:not(:checked),
[type="radio"]:checked,
[type="radio"]:not(:checked){
    position: absolute;
    visibility: hidden;
}


