<button
  *ngIf="!gameStarted && !gameFinished"
  (click)="startGame()"
  mat-flat-button
  color="accent"
>
  Start
</button>

<div *ngIf="gameStarted" class="answers-container">
  <mat-progress-bar
    class="answers-container__progress-bar"
    color="warn"
    mode="determinate"
    [value]="progressValue"
  ></mat-progress-bar>

  <app-question-card
    [currentQ]="currentQ"
    [time]="currentQ.time"
  ></app-question-card>

  <div class="action">
    <button
      [disabled]="submitted"
      (click)="next()"
      mat-flat-button
      color="accent"
    >
      Submit
    </button>
  </div>
</div>
