<mat-drawer-container class="home-container" autosize>
  <mat-toolbar class="reg_toolbar" align="center">
    <button
      mat-mini-fab
      color="primary"
      (click)="drawer.toggle()"
      aria-label="Example icon button with a menu icon"
    >
      <mat-icon>menu</mat-icon>
    </button>
    <div class="logo">
      <span>Quizizz</span>
    </div>
    <span class="space"></span>
    <button mat-stroked-button routerLink="createQuiz">Create my quiz</button>
    <button mat-button color="primary" (click)="logout()">Log Out</button>
  </mat-toolbar>

  <mat-drawer #drawer mode="side" class="side-menu">
    <div class="profile-container">
      <div class="profile-container__photo">
        <img src="" alt="" />
      </div>

      <h1>Name</h1>
      <button mat-flat-button color="primary" routerLink="createQuiz">Create my quiz</button>
    </div>

    <mat-list class="side-menu-list">
      <mat-list-item routerLink="./dashboard">Dashboard</mat-list-item>
      <mat-list-item routerLink="./myquizzes">My quizzes</mat-list-item>

      <mat-list-item routerLink="./myresults">My results</mat-list-item>


    </mat-list>

    <mat-divider></mat-divider>
  </mat-drawer>
  <router-outlet></router-outlet>



</mat-drawer-container>
