<div class="enter-room">
  <h1>Join the game</h1>

  <mat-form-field floatLabel="auto" appearance="outline">
    <mat-label>Enter room</mat-label>
    <input [(ngModel)]="room" matInput placeholder="Placeholder"/>
    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
  </mat-form-field>

  <div class="enter-room_buttons">
    <button *ngIf='quizId' (click)="createGame()" mat-raised-button color="accent">Create a game</button>
    <button (click)="joinRoom()" mat-raised-button color="accent">Join</button>
  </div>
</div>
