<div class="enter-room__container">
  <h1>Join the game</h1>

  <mat-form-field appearance="outline">
    <mat-label>Enter room</mat-label>
    <input [(ngModel)]="room" matInput placeholder="Placeholder" />
    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
    <!-- <mat-hint>Hint</mat-hint> -->
  </mat-form-field>

  <div >  <button *ngIf='quizId' (click)="createGame()" mat-raised-button color="accent">Create a game</button>
    <button (click)="joinRoom()" mat-raised-button color="accent">Join</button></div>
</div>
